@import url(main.css);
@import url(header.css);
@import url(footer.css);
@import url(content.css);
@import url(left.css);
@import url(mailform.css);
/*@import url(columns2.css);*/
@import url(univis2web.css);
@import url(indexed_search.css);
@import url(print.css);
@import url(shadow_boxes.css);
@import url(fading_boxes.css);

html,
body {
	height:			100%;
	margin:			0;
}
body {
	background:		white;
	font-size:		14px;   /*90%*/
	font-family:	Verdana, Arial, Helvetica, Sans-Serif;
}
a:link {
	color:			#001A59;
}
a:visited {
	color:			#556699;
}
a:hover {
	color:			red;
}
a[name]:hover {
	color:			inherit;
}
h1, h2,h2n, h3, h4, h5, h6 {
	color:			#012e5c;
	font-weight:	bold;
}
h1 {
	font-size:		170%;
}

h2 {
	font-size:		140%;
}
h2n {
	font-size:		140%;
}

h2 {
	font-size:		130%;
}
h3 {
	font-size:		110%;
}
/*
h4 {
	font-size:		120%;
}
h5 {
	font-size:		110%;
}
h6 {
	font-size:		100%;
}
*/

img {
	border:			none;
}

tr,
td {
	text-align:		left;
	vertical-align:	top;
}

th.lecture {
	text-align:		left;
	vertical-align:	top;
	color:			#012e5c;
	font-weight:	bold;
}
th.thesis {
	text-align:		left;
	vertical-align:	top;
	color:			#012e5c;
	font-weight:	bold;
	padding-right:	1em;
	white-space:	nowrap;
}
.infBlue {
	color:			#012e5c;
}
code {
	border:			1px solid black;
	background:		#eeeeee;
}
.tag {
	color:			#005500;
}
.code {
	font-family:	"Courier New", Courier, monospace;
}

/* new styles by Hannes Hofmann <hannes@uwr1.de> */
.spacer-1 {
	height:			1px;
	background:		#02253d;
}
.spacer-2 {
	height:			2px;
	background:		#02253d;
}

#top-buttons {
	height:			32px;
	background:		#cccccc;
}
#top-buttons td {
	background-image:	url(/images/back_2nd2.gif);
}
#top-buttons-links {
	width:			200px;
}
#top-buttons-mitte {
	width:			100%;
	white-space:	nowrap;
}
#top-buttons-rechts {
	text-align:		right;
}

#top-banner-tf,
#top-banner-tf td {
	height:			49px;
	background:		#e0e5f0;
}

#linke-spalte {
	background:		#f2f2f2;
	width:			180px;
	height:			100%;
	border-left:	10px solid #bebebe;
	border-right:	1px solid black;
}
#logo-box {
	text-align:		center;
	margin-top:		0.75em;		/* war: 3mm */
}
#logo-box a {
	font-size:		85%;
	font-weight:	bold;
	color:			#001a59;
	text-align:		center;
	text-decoration:	none;
}
#nav-box {
	margin-top:		1em;		/* war: 4mm */
	padding-left:	0.5em;		/* war: 2mm */
	padding-top:	0.75em;		/* war: 3mm */
	border-top:		solid #bebebe 1px;
	font-size:		90%;
}
#nav-box .titel {
	font-weight:	bold;
	margin-bottom:	1em;
	padding-right:5px;
}
#nav-box .gruppe {
	margin-bottom:	1em;
}
.nav-indented {
	padding-left:	4mm;
	font-size:		95%;
}
#kontakt-box {
	margin-top:		1em;		/* war: 4mm */
	padding-left:	0.5em;		/* war: 2mm */
	padding-top:	0.75em;		/* war: 3mm */
	border-top:		solid #bebebe 1px;
	font-size:		80%;
}
#kontakt-box h1 {
	font-size:		110%;
	font-weight:	bold;
	color:			#001a59;
	margin-bottom:	0.5em;		/* war: 2mm */
}
#kontakt-box .url {
	margin-left:	24px;
}
#kontakt-box .extra-info {		/* pgp, icq, skype, ... */
	margin-bottom:	1mm;
}

#rechte-spalte {
	padding-left:	20px;
}
#pfad-info {
	background:		#bbccee;
	font-size:		75%;
	font-weight:	bold;
	padding:		1px 4px 1px 10px;
	border-left:	1px solid black;
	border-bottom:	1px solid black;
}

table.contenttable {
width:100%;
}
table.contenttable-1 {
padding-left:2em;
}
table.contenttable-1 td {
border-bottom:1px dotted #aaa;
}
table.contenttable-1 td.td-0 {
padding-right:.5em;
}
table.contenttable-1 td.td-0 img {
padding:1em;
}

/* an dieser stelle ist der Inhalt */

#impressum {
	height:			1.5ex;
	background:		#bbccee;
	padding:		2px 4px 2px 4px;
	font-size:		70%;
}
#letztes-update {
	height:			1.5ex;
	background:		#bbccee;
	padding:		2px 4px 2px 4px;
	font-size:		70%;
	text-align:		right;
}

div.fixme {
	color:			red;
	font-weight:	bold;
}
h1.not-found {
	color:			red;
}
span.not-found-url {
	font-weight:		bold;
	font-family:		"Courier New", Courier, monospace;
	color:			orange;
}

table.liste tr {
	vertical-align:		top;
	background:		#f0f0f0;
}
table.liste tr.dunkel {
	background:		#808080;
}
table.liste th {
	color:			#f0f0f0;
}
table.liste th,
table.liste td {
	padding-right:		1em;
}

table.files tr {
	vertical-align:		top;
	background:		#f0f0f0;
}
table.files tr.dunkel {
	background:		#808080;
}
table.files th {
	text-align:		center;
	color:			#f0f0f0;
}

/* fuer customTags */
div.spalte1 {
	float:			left;
	padding-right:	0.5em;
}
div.spalte2 {
	float:			left;
}
br.spaltenEnde {
	clear:			left;
}
div.hinweis-rot,
div.copyright {
	background:		#fff0f0;
	border:			1px solid #ffc0c0;
	margin-top:		1em;
	margin-bottom:	1em;
	padding:		0.5em;
}
.rot {
	color:			red;
}

/* persoenliche Seiten */
.vision {
	text-align:		justify;
	vertical-align:	middle;
	margin-top:		1em;
	padding:		1mm;
	border:			1px ridge black;
	background-color:	#eee;
}
.sprechstunde {
	font-style:		italic;
	margin-top:		3mm;
}
.lebenslauf dt {
	font-weight:	bold;
}

/* publications */
a.pubAuthor {
	color:			#000000;
}
span.pubTitle {
  	/* font-weight:		bold; */
}
span.pubTitleShort {
  	/* empty */
}

/* News on home page */
div.news-list-container a img { float:right; }

div.news-list-container a.internal-link img,
div.news-list-container a.external-link img,
div.news-list-container a.external-link-new-window img { float:none; }

div.news-list-container .news-list-browse {
    margin-bottom: 0px;
    text-align: center;
}

.news-list2-container, .news-list3-container, .news-list3-item, .list2-subdiv-hdr {
	background: none;
}

/* research project teaser block (e.g. on group page) */
table.rsr-proj td.td-0 {
	width:188px;
}

p.align-justify {
    text-align: justify;
}

UL.csc-uploads SPAN {
    float: left;
}

UL.csc-uploads SPAN.csc-uploads-description {
	width: 200px;
}

UL.csc-uploads SPAN.csc-uploads-fileName {
	min-width: 180px;
}

UL.csc-uploads SPAN.csc-uploads-fileSize {
	float:right;
	padding-right: 10px;
	text-align: right;
}

UL.csc-uploads LI {
	margin:0;
	padding: 4px 0;
	margin: 0 5px;
}

UL.csc-uploads LI.li-odd {
	background-color: #b9d3ee;
}
